[submodule "MCL"]
	path = MCL
	url = https://github.com/gavin-blakeman/MCL.git
[submodule "GCL"]
	path = GCL
	url = https://github.com/gavin-blakeman/GCL.git
[submodule "SCL"]
	path = SCL
	url = https://github.com/gavin-blakeman/SCL.git
[submodule "QCL"]
	path = QCL
	url = https://github.com/gavin-blakeman/QCL.git
[submodule "ACL"]
	path = ACL
	url = https://github.com/gavin-blakeman/ACL.git
